body {
  min-height: 100%;
  color: black;
  font-family: Tahoma, "Nunito Sans", Verdana, sans-serif;
  padding: 0%;
  background-color: black;
}
#top {
  color: white;
  background-color: #000000;
  padding: 15px 20px;
  top: 0;
  width: 100%;
  position: sticky;
}
.page {
  display: flex;
}

h1 {
  font-weight: 100;
  letter-spacing: 2.5px;
}

body > h1,
body > h5 {
  text-align: center;
}

.strong {
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
}
p {
  margin: 5px;
}
.Spacers {
  margin: 35px;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: #323232;
  width: 100%;
  margin: 1 auto;
  color: #ccc;
  align-items: center;
  padding: 30px;
}

#respond {
  margin-top: 40px;
}

#respond input[type="text"],
#respond input[type="email"],
#respond textarea {
  margin-bottom: 10px;
  display: block;
  width: 100%;

  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;

  line-height: 1.4em;
}

.content > h1 {
  font-size: 100px;
}
