body {
  min-height: 100%;
  color: black;
  font-family: Tahoma, "Nunito Sans", Verdana, sans-serif;
  padding: 0%;
  background-color: black;
}
.top {
  color: white;
  background-color: #000000;
  padding: 15px 20px;
  top: 0;
  width: 100%;
  position: sticky;
}
.page {
  display: flex;
}

h1 {
  font-weight: 100;
  letter-spacing: 2.5px;
}

body > h1,
body > h5 {
  text-align: center;
}

.strong {
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
}
p {
  margin: 5px;
}
.Spacers {
  margin: 35px;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: #323232;
  width: 100%;
  margin: 1 auto;
  color: #ccc;
  align-items: center;
  padding: 30px;
}
.content > h1 {
  font-size: 100px;
}
