nav {
  position: sticky;
  top: 75px;
  height: 0;
  width: 250px;
  background: black;
  padding: 20px;
  box-sizing: border-box;
  position: sticky;
}

nav.left > a {
  background-color: rgb(255, 255, 255, 0.145);
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 12px;
  text-align: left;
  text-transform: uppercase;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  border: none;
  border-left: 10px solid darkblue;
  text-decoration: dashed;
  width: 10px;
}

.SideButtons:hover {
  font-size: 12px;
  transition: 150ms;
}
.SideButtons:hover {
  font-size: 15px;
}
