.navbar {
  width: 244px;
  height: 100vh;
  border-right: 1px solid #dbdbdb;
  padding: 8px 12px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.navbar > .logo {
  padding: 32px 12px;
}

.navbar > .menu {
  flex: 1; /*Wypełnia pustą przestrzeń*/
}

.navbar ul {
  display: flex;
  flex-direction: column;
  gap: 8px; /*Margin na sterydach*/
}

.navbar ul > li > a {
  padding: 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 16px; /*Tak, to ten margin na sterydach*/
}

.navbar ul > li > a:hover {
  background: rgba(0, 0, 0, 0.05);
  transition: 0.3s;
}

.navbar ul > li > a:hover > img.icon {
  transform: scale(1.05);
  transition: 0.2s;
}

.navbar ul > li a:active {
  opacity: 0.5;
}

.navbar ul > li > a:active > img.icon {
  transform: scale(0.95);
}

.navbar ul > li > a.selected {
  font-weight: bold;
}
div.person > a {
  padding: 0;
  color: rgb(255, 255, 255);
  font-weight: 600;
}
