:root {
  --background-color: rgb(22, 22, 22);
}

.post {
  background: var(--background-color);
  padding: 3vh;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.post > div {
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.post > div:first-child {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post span,
.post p {
  font-size: 25px;
}

.post > div.profile > img {
  margin-right: 5px;
}

.post > footer > div.comments {
  background-color: #222;
  border-radius: 15px;
  padding: 5px 15px;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.post > footer > .stats,
.post > footer > .description > .author {
  font-weight: 600;
  margin-right: 5px;
}

.post > footer > .comments > .comment-creator > input {
  padding: 5px 15px;
  display: flex;
  flex: 1;
  font-size: 25px;
  background-color: var(--background-color);
  border: none;
  border-radius: 100px;
  color: #fff;
}
span.author {
  font-weight: 600;
  text-decoration: underline;
}
