:root {
  --avatar-border-color: rgb(0, 0, 0);
}

img.avatar {
  box-sizing: content-box;
  border-radius: 50%;
  border: 2px solid var(--avatar-border-color);
}
img.avatar.medium {
  width: 44px;
  height: 44px;
}
